    <div class='photo'><%= link_to image_tag(artist.photo.small), artist %></div>

    <div class='name'>
        <%= link_to artist.name, artist %>
        <%= link_to 'Edit', edit_artist_path(artist) %>
        <%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
