    <div class='photo'><%= link_to image_tag(concert.photo.small), concert %></div>

    <div class='name'>
        <%= link_to concert.name, concert %>
        <%= link_to 'Edit', edit_concert_path(concert) %>
        <%= link_to 'Delete', concert, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
