

  <div id="intro">
    Welcome to Best Live Version, an app for curating the best versions of live concert audio.
    Upload or link to your favorite tracks
    Edit them down to the best moments


      <%=  link_to 'Register', register_path, :class => 'btn btn-inverse' %>
      <%=  link_to 'Login', login_path, :class => 'btn btn-inverse' %>
         <br><br>
      (poss. LOGIN WITH TWITTER)
         <br><br>
      (poss. LOGIN WITH FACEBOOK)
         <br><br>
  </div>

  <div id="get_started">
    <h2>Get Started</h2>
      Need Audio? Search:
      <%= render :partial => 'shared/search' %>

      <br><br>
      Already have a track in mind?
      <%= link_to 'Create New Jam', new_song_path, :class => 'btn btn-inverse' %>
  </div>

 <br><br>
  <div id="latest">
WILL SHOW LATEST SONGS
  </div>
