

  <div id="intro">
    Welcome to Jamlister, an app for creating short snippets of the best moments of live concert audio.
    Upload or link to your favorite tracks
    Edit them down to the best moments

      -->>REGISTER BUTTON<<--
         <br><br>
      -->>LOGIN WITH TWITTER<<--
         <br><br>
      -->>LOGIN WITH FACEBOOK<<--
         <br><br>
  </div>

  <div id="get_started">

      Need Audio? Search:
      -->>SEARCH FIELD & BUTTON<<--
      <br><br>
      Already have a track in mind?
      -->>GET STARTED BUTTON<<--
  </div>

  <div id="latest">
  -->>SHOW LATEST SONGS<<--
  </div>
