
<div class="row">
  <div class="span6 offset4">
    <%= render :partial => 'shared/concert', :locals => {:concert => @concert} %>
  </div>
</div>

<div class="row">
  <div class='songs'>
  <h2>Jams from: <%= @concert.name %></h2>
    <%= render :partial => 'shared/song', :collection => @songs, :as => :song %>
  </div>