/*
 *= require_self
 *= require 'css/bootstrap.css'
 *= require 'alertify.css'
 *= require 'jplayer.blue.monday.css'
 */

@import url(http://fonts.googleapis.com/css?family=Molengo);
@import url(http://fonts.googleapis.com/css?family=Lekton);

html
{ height: 100%
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

body
{
  height: 100%;
  background-image: url('../assets/pedals.jpg');
  background-repeat: repeat-y;
  background-position: center center fixed;
  background-size: cover;
  color: #3F3D32;
  -webkit-font-smoothing: anti-aliased;
}

.container
{
  background: rgb(255, 255, 255) transparent; /* default fallback */
  background: rgba(255, 255, 255, 0.8); /* nice browsers */
  background-color: white;
  margin-top: 5%;
  margin-bottom: 15%;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 15%;
  font-size: 20px;
  font-family: 'Lekton', sans-serif;
  border-radius: 30px;

}

header {
  background-image: url('../assets/tapermic_logo_mono.png');
  background-repeat:no-repeat;
  background-position:center;
  background-position: top;
  text-align: center;
  padding-top: 175px;
  font-size: 40px;
  font-family: 'Molengo', sans-serif;
}

h1
{
  align: left;
  font-family: 'Molengo', sans-serif;
  margin-right: 15%;
  margin-left: 15%;
}

.nav-pills {
  font-family: 'Molengo', sans-serif;
  padding: 30px;
  margin: 2px;
}

.form
{
  align: left;
  font-family: 'Molengo', sans-serif;
  margin-right: 15%;
  margin-left: 15%;
}

.field {
  align: left;
  font-family: 'Molengo', sans-serif;
  margin-right: 15%;
  margin-left: 15%;
}

#intro
{
  float: left;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 20px;
  border-bottom: 3px solid #3f3f3f;
}

#intro p {
  margin: 20px;
}

#intro .btn {
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
  width: 200px;
}

#get_started h2
{
  font-family: 'Molengo', sans-serif;
  margin-top: 10px;
  float: left;
}

#get_started .btn
{
  font-family: 'Molengo', sans-serif;
  float: left;
  padding: 10px;
  font-size: 18px;
  width: 200px;
}

#get_started
{
  margin-bottom: 20px;
}

#search_form
{

}

#latest {
  border-top: 3px solid #3f3f3f;
  margin-top: 20px;
  padding-top: 20px
}

#search {
  margin: 5%;
}


#search li
{
  list-style: none;
}

#songs
{
  float: left;
  margin-left: 35px;
  padding: 20px;
}

.form
{
  font-family: 'Molengo', sans-serif;
  float: left;
  padding: 20px;
  margin: 20px;
}

.btn {
  font-family: 'Molengo', sans-serif;
/*  margin-right: 10%;
  margin-left: 10%;*/
  padding: 10px;
  font-size: 20px;
  width: 200px;
}


/******************************************
/* PHOTO FILTERS
/*******************************************/

#photo {
  display: block;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  -webkit-border-radius: 3px 4px 6px #0D0A03;
  -moz-border-radius: 3px 4px 6px #0D0A03;
  box-shadow: 3px 4px 6px #0D0A03;
}

/*Hover effects*/
#photo:hover {
  -webkit-filter: none; /*Returns to default state*/
  border-radius: 10px;
  -webkit-border-radius: 5px 6px 7px #0D0A03;
  -moz-border-radius: 5px 6px 7px #0D0A03;
  box-shadow: 5px 6px 7px #0D0A03;
}
/*Default state for brightness has to be specified specifically*/
#photo img.brightness:hover {
  -webkit-filter: brightness(0);
}

/*Title styles*/
/*.title {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 15px;
  z-index: 1;
  padding: 5px 7px;
  background: rgba(0, 0, 0, 0.6);
}*/


/*Filter styles*/
.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.opacity {-webkit-filter: opacity(50%);}



